
// IMPORT BASE FILES
@import "base/base";

// False to media queries, show all!
$media-queries: false;

@import "base/mixins";

* {
  @include box-sizing(border-box);
}

html {
  height: 100%;

  font-size: 16px;
  background-color: white;
}
body {
  min-height: 100%;

  font-family: $font-family-default;
  color: $text-color;
  line-height: 1.35;
}

//-----------------------------------------------------------------------------
// Media Query
@include respond-to($bp-medium)  {
  html {
    font-size: $font-size-medium;
  }
  body {
    padding: 0 20px;
  }
}

@import "partials/layout";
@import "partials/elements";
@import "partials/system";
@import "partials/forms";
@import "partials/menus";
@import "partials/modules";

// Add extends to the bottom.
@import "base/extends";

//-----------------------------------------------------------------------------
// Leave this line at the bottom of the document
//-----------------------------------------------------------------------------
#admin-menu {
  margin: 0;
}
.section-list ul li a:before {
    background: none;
    display: none;
}


/*
 ***********************************************************************************************
 * Module: example
 ***********************************************************************************************
 */

/**
 * State: example
 */

/**
 * Layout: example
 */

/**
 * Overrides [example]
 */

/**
 * Override [example] top region
 */

/**
 * Override [example] top region
 */
