
// IMPORT BASE FILES
@import "base/base";
@import "base/mixins";

* {
  @include box-sizing(border-box);
}

html {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
  background-color: white;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-family-default;
  color: $text-color;
  line-height: 1.35;
}

//-----------------------------------------------------------------------------
// Media Query
@include respond-to($bp-medium)  {
  html {
    font-size: $font-size-medium;
  }
}
@include respond-to($bp-desktop) {
  body {
    padding: 0 20px;
  }
}


@import "partials/layout";
@import "partials/elements";
@import "partials/system";
@import "partials/forms";
@import "partials/menus";
@import "partials/modules";
@import "partials/crisis";
@import "partials/maintenance";
@import "partials/appointments";
@import "partials/events";
@import "base/menus";

// Add extends to the bottom.
@import "base/extends";

//-----------------------------------------------------------------------------
// Leave this line at the bottom of the document
//-----------------------------------------------------------------------------
#admin-menu {
  margin: 0;
}
