// IMPORT BASE FILES
@import "base/base";
@import "base/mixins";

//-----------------------------------------------------------------------------

body {
  font-family: $font-family-default;
  color: $text-color;
}

  // Files
.link-file {
	 @extend %link-file;

  .file {
    font-family: $font-family-default;
    color: white;

    background-color: $black;
 	}
  &:hover {
    .file {
      color: white;
      background-color: $link-color-hover;
    }
	}
}
.attention {
  position: relative;
  padding-left: 34px;
  margin: 0 0 1.25em 0;

  &:after {
    position: absolute;
    display: block;
    content: '!';
    left: 0;
    top: 0.2em;
    height: 1.112em;
    width: 1.112em;

    background-color: $black;
    color: white;
    text-align: center;
    font-size: $font-size-medium;
    line-height: 1.1;
    @include border-radius(5px);
  }

  // Larger box.
  &.big {
    padding-left: 58px;
    font-weight: 600;

    &:after {
      top: 0.09em;
      height: 1.05em;
      width: 1.05em;

      font-size: 38px;
      line-height: 1.1;
    }
    @include respond-to($bp-desktop) {
      line-height: 1.6em;
    }
  }
}

// Till fix
@import "partials/elements";

// Add extends to the bottom.
@import "base/extends";
