//  _____     _                 _
// |  ___|   | |               | |
// | |____  _| |_ ___ _ __   __| |___
// |  __\ \/ / __/ _ \ '_ \ / _` / __|
// | |___>  <| ||  __/ | | | (_| \__ \
// \____/_/\_\\__\___|_| |_|\__,_|___/
//

// Extend for clearfix
//----------------------------------------
%clearfix {
  &:after {
    visibility: hidden;
    display: block;
    content: '';
    clear: both;
    height: 0;
  }
}
%clearfix-before {
  &:before {
    visibility: hidden;
    display: block;
    content: '';
    clear: both;
    height: 0;
  }
}

// Extend for no margin and no padding
//----------------------------------------
%no-margin-padding {
  margin: 0;
  padding: 0;
}

// Extend for resetting ul's
//----------------------------------------
%no-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    list-style: none;
  }
}

// Extend for footer links
//----------------------------------------
%link-with-icon {
  position: relative;
  padding-left: 20px;

  color: white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
  &:active {
    color: $black;
  }
}

// Forms
//----------------------------------------
%input {
  padding: 0.3em;

  font-size: $font-size-regular;
  border: 1px solid $border-color;

  @include border-radius(5px);

  &:focus {
    border-color: lighten($border-color, 50%);
  }
}

// Submits and buttons
//----------------------------------------
%button-submit {
  display: inline-block;
  padding: 10px 80px 10px 20px;
  margin: 0 0 20px 0;

  min-height: 55px;
  width: auto;
  max-width: 460px;

  border: 0;
  background: $btn-color url(../images/btn-arrow.png) no-repeat right top;

  font-family: $font-family-default;
  font-size: $font-size-xlarge;
  color: white;
  text-align: left;

  cursor: pointer;
  @include border-radius(5px);
  -webkit-appearance: none;  // remove shadow in iOS

  &:hover,
  &:active {
    background-color: $btn-color-hover;
    color: white;
  }
}

%link-file {
  display: inline-block;
  margin-right: 1em;
  vertical-align: top;
  font-weight: 700;

  .file {
    float: left;
    min-width: 3.4em;
    margin-right: 1.1em;
    padding: 1.3em 0.3em 1.1em 0.3em;
    @include border-radius(5px);

    font-weight: 600;
    color: white;

    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    vertical-align: bottom;
    font-size: $font-size-small;
    background-color: $black;
  }

  // Icon change on hover.
  &:hover {
    .file {
      background-color: $link-color-hover;
    }
  }
}

// Accessibility proof 'display: none'.
//----------------------------------------
%element-invisible {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}