//-----------------------------------------------------------------------------
// Module: Block menu
//-----------------------------------------------------------------------------
.block-autologout, .block-dvg-digid-autologout {
  display: inline-block;
  width: auto;

  line-height: 30px;

  a {
    color: white;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }

  .content {
    .refresh,
    .norefresh {
      display: inline-block;
    }
  }

  @include respond-to($bp-desktop) {
    float: left;
    display: block;
  }
}

//-----------------------------------------------------------------------------
// Module: Block menu
//-----------------------------------------------------------------------------
.r-top .block-menu {
  display: inline-block;
  margin: 0 15px;

  width: auto;
  line-height: 30px;
  text-align: center;

  h2 {
    display: inline-block;
    margin: 0;
    font-family: $font-family-default;
    font-size: $font-size-regular;
    font-weight: normal;
    color: white;
  }
  .content {
    font-family: $font-family-default;
    font-size: $font-size-regular;
    display: inline-block;
  }
  .menu {
    display: inline-block;
    margin: 0;
    color: #FFF;

    li {
      @extend %no-margin-padding;

      list-style: none;

      a {
        color: white;

        &:hover,
        &:active,
        &:focus {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  @include respond-to($bp-desktop) {
    float: right;
    display: block;
  }
}