

//-----------------------------------------------------------------------------
// Module: Appointments
//-----------------------------------------------------------------------------
.node-webform {
  .added-topic {
    position: relative;
    margin-bottom: 1em;
    padding: 10px 15px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: $main-color-light;

    .appointment-name {
      width: 75%;
      word-wrap: break-word;
    }

    .appointment-delete {
      position: absolute;
      top: 10px;
      right: 15px;

      a {
        height: 16px;
        width: 16px;
        display: block;
        text-indent: -9999em;
      }
    }

    .appointment-persons .form-item {
      max-width: 80px;
    }
  }

  .new-topic-fieldset {
    border-width: 1px;
    border-style: solid;
    border-color: $main-color-light;

    &.collapsed {
      background-color: transparent;
      padding-bottom: 0;
      padding-top: 0;
      margin-bottom: 0;
    }

    .form-type-textfield input[type=text] {
      max-width: 80px !important;
    }

    .form-select {
      width: 100%;
    }

    .form-submit {
      margin: 1em 0;
      cursor: pointer;
    }
  }

  .appointments-date-selection-table {
    thead {
      display: none;
    }
    tbody {
      tr:nth-child(odd),
      tr:nth-child(even) {
        background-color: transparent;
      }
    }
    td {
      padding: 9px 3px;
    }
    .date {
      float: left;
      clear: left;
      width: 100%;
      padding: 5px 3px;
      background-color: $main-color;
      font-size: $font-size-medium;
      color: white;
      text-align: center;
      white-space: nowrap;
    }
    .time-appointments {
      float: left;
      width: 33%;
      height: 40px;
      border-bottom: 1px solid $main-color;
      font-size: $font-size-regular;
      vertical-align: top;

      .day-part {
        position: relative;

        .day-part-image {
          position: absolute;
          display: block;
          right: 1px;
          top: 1px;
        }

        .day-part-label {
          margin-right: 5px;
          @include respond-to(0, $bp-medium) {
            position: relative;
            clip: auto;
            overflow: auto;
            height: auto;
          }
        }

        img {
          width: 20px;
        }
      }

      &.morning {
        border-left: 1px solid $main-color;
      }
      &.midday {
        border-left: 1px solid $main-color;
        border-right: 1px solid $main-color;
      }
      &.evening {
        width: 34%;
        border-right: 1px solid $main-color;
      }
    }
    .time-selector-appointments {
      float: left;
      clear: left;
      width: 100%;
      padding: 9px 0px;

      .form-select {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  .form-item .form-item {
    margin: 0 0 5px 0;
  }

  .form-item-date-of-birth .form-select {
    width: auto;
  }
  .wfm-item  {
    & > fieldset {
      margin-bottom: 1em;
    }

    & + .wfm-item {
      margin-top: 1.5em;
    }
  }
  .wfm-add {
    padding: 0 10px;

    min-height: 30px;
    height: 30px;
    width: auto;

    background: $main-color;
    color: white;
    font-family: $font-family-default;
    font-size: $font-size-default;
    text-indent: 0;
    text-align: center;
    border: none;

    &:hover {
      background-color: $link-color-hover;
      cursor: pointer;
    }
  }
  .wfm-remove {
    @extend .wfm-add;
    background: $red;
  }
}

.appointments-info-table-container {
  margin-bottom: 1.5em;
}

.appointments-info-table {
  margin-bottom: 3em;

  &:last-child {
    margin-bottom: 0.5em;
  }

  tr:nth-child(odd),
  tr:nth-child(even) {
    background-color: transparent;
  }

  tr {
    border-bottom: 2px solid $main-color;

    &:first-child {
      border-top: 2px solid $main-color;
    }

    .info-label {
      width: 40%;
    }
    .info-value {
      word-wrap: break-word;
    }
  }
}

.appointments-confirmation-text {
  margin-bottom: 3em;
}

@include respond-to($bp-search) {
  .node-webform {
    .added-topic {
      .appointment-delete {
        a {
          background: none;
          height: auto;
          width: auto;
          display: block;
          text-indent: 0;
        }
      }
    }
  }
}

@include respond-to($bp-medium) {
  .node-webform {
    .appointments-date-selection-table {
      thead {
        display: table-header-group;

        tr {
          background-color: $main-color;
          color: white;

          th {
            padding: 6px 12px;
            font-size: $font-size-medium;
          }
        }
      }
      tbody {
        tr {
          border-bottom: 1px solid $main-color;

          td {
            padding: 12px;
          }
        }
      }
      .date {
        float: none;
        clear: none;
        width: auto;
        padding: 12px;
        background-color: transparent;
        color: $text-color;
        text-align: left;
      }
      .time-appointments {
        float: none;
        width: auto;

        .day-part {
          .day-part-image {
            position: absolute;
            display: block;
            left: 18px;
            top: 6px;
          }
          .day-part-label {
            position: absolute;
            clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
            clip: rect(1px, 1px, 1px, 1px);
            overflow: hidden;
            height: 1px;
          }
        }

        &.morning,
        &.midday,
        &.evening {
          border: 0;
        }
      }
      .time-selector-appointments {
        float: none;
        clear: none;
        width: auto;
        padding: 9px 12px;

        .form-item {
          width: auto;
          text-align: right;
          margin: 0;
        }

        .form-select {
          min-width: 9em;
          max-width: 100%;
        }
      }
    }

    tr {
      .info-label {
        width: 40%;
      }
    }
  }
}
