/*
 ***********************************************************************************************
 * Module: forms + webform
 ***********************************************************************************************
 */

/*  fieldset & legend **********************************************************/
fieldset {
  @extend %clearfix;

  @include border-radius;

  padding: 20px;
  margin: 0 0 1.5em 0;
  
  border: 1px solid $border-color;

  fieldset {
    max-width: 830px;
  }

  .fieldset-description {
    margin: 0 0 1em 0;

    font-size: $font-size-small;
    color: $text-color-light;
    line-height: 1.4;
  }

  legend {
    position: relative;
    display: block;
    margin: 0 0 0 -5px;
    padding: 0 5px;
  }

  &.fieldset-no-border {
    margin: 0 0 30px 0;
    padding: 0;
    border: none;

    &:last-child {
      margin: 0;
    }
    legend {
      margin-bottom: 5px;
      font-weight: 600;
    }
    .fieldset-legend {
      @extend label;
      display:block;
      font-size: $font-size-medium;
      padding: 0;
    }
  }
  &.webform-component-fieldset {
    margin: 2.667em 0;
    max-width: 830px;
    padding: 0;
    border: 0;

    legend {
      @extend h2;

      font-weight: 600;
      padding: 0;
      margin-bottom: 5px;
    }
  }
}


//-----------------------------------------------------------------------------
// Module: Form Elements
//-----------------------------------------------------------------------------
input:not([type=image]):not([type="submit"]):not([type="button"]):not([type="reset"]):not([type=radio]):not([type=checkbox]):not([type="number"]):not([type="password"]){
  width: 100%;
  max-width: 460px;

  @extend %input;

  &.year {
    width: auto;
    padding: 0.36em;
  }
}
.resizable-textarea,
textarea {
  max-width: 460px;
  min-height: 100px;
  resize: vertical;
  font-family: $font-family-default;

  .grippie {
    display: none;
  }
  &:focus {
    border-color: lighten($border-color, 20%);
  }
}
textarea {
  @include border-radius(5px);

  padding: 0.3em;
  border: 1px solid $border-color;
}
select {
  width: 100%;
  max-width: 460px;

  @extend %input;

  &.day,
  &.month,
  &.year {
    width: auto;
  }
  .form-type-date & {
    width: auto;
  }
}
.container-inline {
  div.form-item {
    display: inline;
  }
}
.webform-component-number {
  select {
    width: auto;
  }
}

input[type=radio],
input[type=checkbox] {
  padding: 0;
  margin: 0 0.4em 0 0;
}
input[type="button"],
input[type="reset"],
.webform-submit,
.views-exposed-form input[type="submit"],
.form-actions input[type="submit"] {
  @extend %button-submit;

  margin-right: 5px;
}
.btn {
  @extend %button-submit;

  text-decoration: none;
}
input[type="number"] {
  @extend %input;
  width: 15%;
}
.submit-link {
  padding: 0;

  background: transparent;
  border: none;

  font-size: $font-size-regular;
  font-family: $font-family-default;
  color: $link-color;
  text-decoration: underline;

  &:hover {
    color: $link-color-hover;
    cursor: pointer;
  }
}

// Managed file (file + upload button)
.form-managed-file {
  input[type="file"] {
    margin-bottom: 13px;

    &.error {
      background: $red;
      color: white;
    }
  }
  input[type="submit"],
  input[type="button"] {
    font-family: Arial;
    font-size: 16px;
    margin-left: 10px;
    max-width: none;
    width: auto;
  }
}

//*  form labels   ************************************************************/
label {
  display: block;
  padding: 0;

  vertical-align: top;
  max-width: 630px;
  font-weight: 600;

  .form-required {
    color: $red;
  }
}

// Labels next to checkbox / radio.
input[type=radio] + label,
input[type=checkbox] + label {
  display: inline-block;
  font-weight: normal;

  width: 92%;
  padding-top: 1px;
}

//*  form actions  ************************************************************/
.form-actions {
  @extend %clearfix;

  margin: 2.5em 0 0 0;

  .webform-previous.form-submit {
    border: none;
    display: block;
    background: none;
    padding: 0;
    margin: 2em 0 0 0;
    box-shadow: none;
    color: $link-color;
    font-weight: 600;
    font-size: $font-size-regular;
    text-decoration: underline;
    text-transform: lowercase;
    min-height: 0;

    &:hover {
      margin: 2em 0 0 0;
      color: $link-color-hover;
      background: none;
      cursor: pointer;
    }
    &:active {
      background: none;
    }
  }
  .button-primary {
    @extend %button-submit;
  }
}

//*  form item  ***************************************************************/
.form-item {
  margin-bottom: 13px;

  // Form label.
  > label:first-child {
    display: block;
    margin: 0 0 5px 0;
  }

  // Remove margin on last form item.
  + .form-item:last-child {
    margin-bottom: 0;
  }

  // Double form-item.
  .form-item {
    margin: 0 5px 0 0;
  }

  // Form item description.
  .description {
    margin-top: 0.3em;

    font-size: $font-size-small;
    color: $text-color-light;
    line-height: 1.4;
  }

  + .filter-wrapper {
    margin-top: -0.6em;
  }
}

html.js {
  //Positioning fix for autocomplete.
  input.form-autocomplete {
    background-position: 99% 8px;
  }
}

/*  form radios / checkbox  *****************************************************************/

.form-type-checkbox,
.form-type-radio {
  margin-bottom: 5px;
}



/*  form grid  *****************************************************************/
table.webform-grid {
  width: auto;

  td {
    padding: 0.3em 0;
    vertical-align: top;
  }
}

table.webform-grid
table.webform-grid th.webform-grid-option,
table.webform-grid .webform-grid-question {
  padding-right: 2em;
}
//
////-----------------------------------------------------------------------------
//// Module: Webform Pager
////-----------------------------------------------------------------------------
//
//.progressbar {
//  @extend %clearfix;
//
//  display: block;
//  margin-bottom: 30px;
//  padding: 10px 15px 5px;
//  width: 100%;
//  height: auto;
//
//  border-top: 2px solid;
//  border-bottom: 2px solid;
//  border-color: $main-color;
//  background-color: $main-color-light;
//
//  text-align: left;
//  font-size: $font-size-regular;
//
//  li {
//    position: relative;
//    display: inline-block;
//    margin: 0 15px 5px 0;
//    width: auto;
//    height: auto;
//
//    background: none;
//    border: none;
//    border-radius: 0;
//
//    &:after {
//      position: absolute;
//      background: sprite($sprite, icon-li-arrow-grey-light) no-repeat;
//      content: '';
//      height: 14px;
//      width: 10px;
//      right: -15px;
//      top: 3px;
//    }
//    &:last-child {
//      &:after {
//        display: none;
//      }
//    }
//    .label {
//      position: relative;
//      margin: 0;
//      top: 0;
//    }
//    &.current {
//      background: none;
//      font-weight: 600;
//
//      .label {
//        border-bottom: 2px solid;
//      }
//    }
//  }
//}
//
//@include respond-to($bp-large) {
//  .progressbar {
//    margin-bottom: 30px;
//    padding: 0;
//    width: 100%;
//    font-size: $font-size-medium;
//
//    border-top: none;
//    border-bottom: none;
//    background: none;
//
//    li {
//      border-top: 1px solid;
//      border-bottom: 1px solid;
//      border-color: $main-color;
//      height: 48px;
//      padding: 0 13px 0 23px;
//      line-height: 48px;
//      margin: 0;
//      display: block;
//      float: left;
//
//      .lt-ie9 & {
//        margin: 0;
//        padding: 0 13px;
//        border-right: 1px solid;
//      }
//
//      &:after {
//        position: absolute;
//        content: '';
//        background: none;
//
//        width: 0px;
//        height: 0px;
//        top: -1px;
//        right: -8px;
//        border-style: solid;
//        border-width: 24px 0 24px 10px;
//        border-color: transparent transparent transparent white;
//        -moz-transform: scale(.9999);
//
//        .lt-ie9 & {
//          display: none;
//        }
//      }
//      .label {
//        &:after {
//          position: absolute;
//          content: '';
//          background: none;
//          width: 0px;
//          height: 0px;
//          top: -1px;
//          right: -22px;
//          border-style: solid;
//          border-width: 24px 0 24px 10px;
//          border-color: transparent transparent transparent $main-color;
//          -moz-transform: scale(.9999);
//
//          .lt-ie9 & {
//            display: none;
//          }
//        }
//      }
//      // HIDE AFTER ON FIRST AND LAST ITEM + SET THE BORDER
//      &:first-child {
//        border-left: 1px solid $main-color;
//        padding-left: 13px;
//      }
//      &:last-child {
//        border-right: 1px solid $main-color;
//        &:after {
//          display: none;
//        }
//        .label{
//          &:after {
//            display: none;
//          }
//        }
//      }
//      // CURRENT ACTIVE 'TAB'
//      &.current {
//        font-weight: 600;
//        background: $main-color-light;
//
//        &:after {
//          border-color: transparent transparent transparent $main-color-light;
//        }
//        .label{
//          border-bottom: none;
//        }
//      }
//      &.completed {
//        z-index: 1;
//      }
//    }
//  }
//}


//-----------------------------------------------------------------------------
// Module: Webform Pager
//-----------------------------------------------------------------------------

.progressbar {
  @extend %clearfix;

  display: block;
  margin-bottom: 30px;
  padding: 10px 15px 5px;
  width: 100%;
  height: auto;

  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: $main-color;
  background-color: $main-color-light;

  text-align: left;
  font-size: $font-size-regular;

  li {
    position: relative;
    display: inline-block;
    margin: 0 15px 5px 0;
    width: auto;
    height: auto;

    background: none;
    border: none;
    border-radius: 0;

    &:after {
      position: absolute;
      background: sprite($sprite, icon-li-arrow-grey-light) no-repeat;
      content: '';
      height: 14px;
      width: 10px;
      right: -15px;
      top: 3px;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
    .label {
      position: relative;
      margin: 0;
      top: 0;
    }
    &.current {
      background: none;
      font-weight: 600;

      .label {
        border-bottom: 2px solid;
      }
    }
  }
}

@include respond-to($bp-large) {
  .progressbar {
    margin-bottom: 30px;
    padding: 0;
    width: 100%;
    font-size: $font-size-medium;

    border-top: none;
    border-bottom: none;
    background: none;

    li {
      border-top: 1px solid;
      border-bottom: 1px solid;
      border-color: $main-color;
      height: 48px;
      padding: 0 13px 0 23px;
      line-height: 48px;
      margin: 0;
      display: block;
      float: left;

      .lt-ie9 & {
        margin: 0;
        padding: 0 13px;
        border-right: 1px solid;
      }

      &:after {
        position: absolute;
        content: '';
        background: none;

        width: 0px;
        height: 0px;
        top: -1px;
        right: -8px;
        border-style: solid;
        border-width: 24px 0 24px 10px;
        border-color: transparent transparent transparent white;
        -moz-transform: scale(.9999);

        .lt-ie9 & {
          display: none;
        }
      }
      .label {
        display: block;

        &:after {
          position: absolute;
          content: '';
          background: none;
          width: 0px;
          height: 0px;
          top: -1px;
          right: -22px;
          border-style: solid;
          border-width: 24px 0 24px 10px;
          border-color: transparent transparent transparent $main-color;
          -moz-transform: scale(.9999);

          .lt-ie9 & {
            display: none;
          }
        }
      }
      // HIDE AFTER ON FIRST AND LAST ITEM + SET THE BORDER
      &:first-child {
        border-left: 1px solid $main-color;
        padding-left: 13px;
      }
      &:last-child {
        border-right: 1px solid $main-color;
        &:after {
          display: none;
        }
        .label {
          &:after {
            display: none;
          }
        }
      }
      // CURRENT ACTIVE 'TAB'
      &.current {
        font-weight: 600;
        background: $main-color-light;

        &:after {
          border-color: transparent transparent transparent $main-color-light;
        }
        .label {
          border-bottom: none;
        }
      }
      &.completed {
        z-index: 1;
      }
    }
  }
}

//-----------------------------------------------------------------------------
// Module: Time Component
//-----------------------------------------------------------------------------
.webform-component-time {
  position: relative;

  .webform-container-inline {
    @extend %clearfix;

    .form-item {
      display: inline-block;
      padding-left: 0.8em;

    }

    .form-item:first-child {
      padding-left: 0em;
      padding-right: 0.5em;
    }
  }
}

//-----------------------------------------------------------------------------
// Module: Datepicker
//-----------------------------------------------------------------------------
#ui-datepicker-div.ui-datepicker {
  display: block;
  font-size: 100%;
  font-family: Verdana, sans-serif;
  background: white;
  border-right: 2px $main-color solid;
  border-bottom: 2px $main-color solid;
  border-radius: 5px;
  padding: 2px;

  a {
    text-decoration: none;
  }

  .ui-datepicker-header {
    position: relative;
    width: 100%;
    padding: 10px 0;
    background: white;
    border: none;
    border-radius: 0;
    color: #222;
    font-weight: 700;

    .ui-datepicker-title {
      font-weight: normal;
      margin: 0;
      line-height: 1.2em;
      text-align: center;
      color: $main-color;
    }

    .ui-datepicker-prev {
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background: url('../images/i_arrow-left-gray_dark.svg') center center no-repeat;
    }

    .ui-datepicker-prev-hover {
      top: 0;
      left: 0;
      background: url('../images/i_arrow-left-dvg_dark.svg') center center no-repeat;
    }

    .ui-datepicker-next {
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background: url('../images/i_arrow-right-gray_dark.svg') center center no-repeat;
    }

    .ui-datepicker-next-hover {
      top: 0;
      right: 0;
      background: url('../images/i_arrow-right-dvg_dark.svg') center center no-repeat;
    }

    .ui-corner-all {
      background-size: 8px;
      border: none;
      border-radius: 0;

      .ui-icon {
        display: none;
        background: none;
      }
    }
  }

  .ui-datepicker-calendar {
    border: none;
    margin: 0;
    font-size: 1em;

    .ui-state-default {
      border-color: $main-color;
      background: white;
      font-weight: 400;
      color: $main-color;
      text-align: center;

      &:hover, &:focus {
        color: white;
        background-color: $main-color;
      }

      &.ui-state-active {
        color: white;
        background-color: $main-color;
      }
    }

    th {
      background-color: $main-color;
      color: white;
      padding: 6px 0;
      text-align: center;
      font-weight: bold;
      font-size: 0.8em;
      border: none;
    }

    tr {
      background-color: transparent;
      border: none;
      padding: 0;
    }
  }
}
