/**
 * BASE Layout
 *
 * Divide the page into sections. Layouts hold one or more modules together.
 */

/**
 * Regions
 */

.r-navigation,
.r-content-top,
.l-page,
.r-content-bottom,
.r-header > .inner,
.l-breadcrumbs > .inner,
.r-top > .inner,
.r-footer > .inner {
  max-width: $site_width;
  margin: 0 auto;
}
// IE8 fix
.lt-ie9 .r-header > .inner {
  width: $site_width;
}

.r-top {
  background-color: $main-color;
  color: white;
  min-height: 0;
  padding: 10px 0 10px 0;

  &.digid-active {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    padding: 10px;
    z-index: 1000;

    text-align: center;
    font-size: $font-size-regular;

    @include respond-to($bp-desktop) {
      text-align: left;
      width: calc(100% - 40px);
    }
  }

  @include respond-to($bp-large) {
    padding: 0;
  }
}

//-----------------------------------------------------------------------------
// Media Query


@include respond-to($bp-desktop) {
  .r-top {
    min-height: 0.83334em; // 10px / 16
  }
  .r-header > .inner,
  .l-breadcrumbs {
    margin: 0 auto;
  }
}

//-----------------------------------------------------------------------------
// SKIP-LINKS
#skip-link {
  text-align: center;
  > a {
    padding: 20px;
    display: block;
    background-color: white;
    color: $main-color;
  }
}

//-----------------------------------------------------------------------------
// HEADER
.r-header {
  background-color: white;
  border-top: 2px solid $sub-color;

  .inner {
    min-height: em(70); // 70px / 16
    @extend %clearfix !optional;

    padding: 0 20px;
    position: relative;

    @include respond-to($bp-medium) {
      padding: 9px 45px 9px 65px;
      min-height: 4.8334em; // 87px / 18
    }
    @include respond-to($bp-large) {
      padding: 9px 40px;
    }
  }
}

//-----------------------------------------------------------------------------
// BREADCRUMBS
.l-breadcrumbs {
  background: $main-color;
  z-index: -10;

  @include respond-to($bp-medium) {
    margin: 0 15px;
  }
   @include respond-to($bp-medium) {
    margin: 0;
  }

  .wrapper-breadcrumb {
    position: relative;
    min-height: 2.5em; // 40px / 16
    margin: 0 20px;

    @include respond-to($bp-medium) {
      min-height: 6.25em; // 100px / 16
      margin: 0 42px;
    }
    @include respond-to($bp-large) {
      min-height: 6.6666667em; // 120px / 18
    }
    @include respond-to($bp-desktop) {
      margin: 0 62px;
    }
  }
}

//-----------------------------------------------------------------------------
// CONTENT
.r-content {
  position: relative;
  margin: 11px 20px;
  padding: 20px 0;

  border-style: solid;
  border-width: 10px 0px 10px 0;
  border-color: $sub-color; // IE FALLBACK
  @include border-image(url(../images/border-orange.png), 10 0 10 0, round repeat);

  background: white;

  @include respond-to($bp-medium) {
    margin: 15px 45px 11px 45px;
    padding: 30px 15px 20px 15px;
  }
  @include respond-to($bp-large) {
    margin: 15px 20px;
    padding-top: 40px;

    border-width: 14px 0px 14px 0;
    @include border-image(url(../images/border-orange.png), 14 0 14 0, round repeat);
  }
}

body.front .r-content {
  margin-top: -20px;

  .menu-content-block {
    border-style: solid;
    border-width: 10px 0px 0px 0;
    border-color: $main-color; // IE FALLBACK
    @include border-image(url(../images/border-orange.png), 10 0 0 0, round repeat);
  }

  @include respond-to($bp-medium) {
    margin-top: -55px;
    padding: 30px 0 20px 0;

    .block-menu-block {
      padding: 0 20px 15px 20px;
    }
    .menu-content-block {
      border-width: 14px 0px 0px 0;
      @include border-image(url(../images/border-orange.png), 14 0 0 0, round repeat);
    }
  }

  @include respond-to($bp-large) {
    margin-top: -65px;
    padding-top: 30px;
  }
}

//-----------------------------------------------------------------------------
// FOOTER
.r-footer {
  @extend %clearfix;

  padding: 30px 20px;

  background: $main-color;
  color: $text-color-alt;

  @include respond-to($bp-medium) {
    padding: 20px;
  }
}

//-----------------------------------------------------------------------------
// FOOTER TOP
.r-footer-top {
  @extend %clearfix;

  padding-bottom: 10px;

  ul li {
    padding-left: 0;
  }
  @include respond-to($bp-search) {
    padding-bottom: 20px;
  }
  @include respond-to($bp-medium) {
    margin: 0 20px;

    & > .inner {
      padding: 0 20px;
    }
  }
  @include respond-to($bp-large) {
    margin: 0;
  }
  @include respond-to($bp-desktop) {
    margin: 0 20px;
  }
}

//-----------------------------------------------------------------------------
// FOOTER BOTTOM
.r-footer-bottom {
  padding: 20px 0;

  border-top: 2px solid white;

  p {
    margin-bottom: 0.5em;
  }
  a {
    text-decoration: none;
    color: white;

    &:hover {
      text-decoration: underline;
      color: white;
    }
  }
  @include respond-to($bp-medium) {
    margin: 0 20px;

    & > .inner {
      padding: 0 20px;
    }
  }
  @include respond-to($bp-large) {
    margin: 0;
  }
  @include respond-to($bp-desktop) {
    margin: 0 20px;
  }
}
