// ___  ___
// |  \/  |
// | .  . | ___ _ __  _   _ ___
// | |\/| |/ _ \ '_ \| | | / __|
// | |  | |  __/ | | | |_| \__ \
// \_|  |_/\___|_| |_|\__,_|___/
//

//-----------------------------------------------------------------------------
// Module: Social media menu
//-----------------------------------------------------------------------------
.social-menu {
  margin: 0;

  ul.menu {
    @extend %no-list;

    li {
      margin: 0 0 15px 0;
      padding: 0;
    }

    a {
      @extend %link-with-icon;

      // Default before.
      &:before {
        position: absolute;
        content: '';
        top: 50%;
        left: 0;
        margin-top: -8px;

        width: 9px;
        height: 14px;
        background: sprite($sprite, icon-li-arrow) no-repeat;
      }
    }
  }
}

//-----------------------------------------------------------------------------
// Media Query
@include respond-to($bp-small) {
  .social-menu {
    float: left;
    width: 50%;

    ul.menu li {
      margin-bottom: 10px;
    }
  }
}

//-----------------------------------------------------------------------------
// Module: Footer menu
//-----------------------------------------------------------------------------
.footer-menu {
  margin-top: 55px;
  padding-right: 20px;

  ul.menu {
    @extend %no-list;

    li {
      margin: 0 0 15px 0;
    }

    a {
      @extend %link-with-icon;

      &:before {
        position: absolute;
        content: '';
        top: 50%;
        left: 0px;
        margin-top: -8px;

        width: 9px;
        height: 14px;
        background: sprite($sprite, icon-li-arrow) no-repeat;
      }
    }
  }
}

//-----------------------------------------------------------------------------
// Media Query
@include respond-to($bp-small) {
  .footer-menu {
    float: right;
    width: 48%;
    margin-top: 0;

    ul.menu li {
      float: left;
      width: 50%;
      margin-bottom: 10px;
    }
  }
}
@include respond-to($bp-desktop) {
  .footer-menu {
    padding-right: 0;
  }
}

//-----------------------------------------------------------------------------
// Module: Block menu
//-----------------------------------------------------------------------------
.block-menu-block {
  @extend %clearfix;

  &.task-menu {
    margin-top: 10px;
  }

  ul.menu {
    @extend %no-list;

    li {
      margin: 0 0 1.7em 0;
      padding: 0;
      line-height: 1.9em;

      span {
        width: 95%;
        line-height: 1.5em;
      }

      h2,
      h3 {
        margin-bottom: 0;
      }

      a,
      .description,
      .nolink {
        display: block;
      }
      a {
        font-size: $font-size-large;
        line-height: 1.3em;
        margin-bottom: 3px;
        font-weight: 600;

        word-wrap: break-word;
      }
    }
  }
}

//-----------------------------------------------------------------------------
// Media Query
@include respond-to($bp-medium) {
  .block-menu-block ul.menu {
    li {
      width: 50%;
      float: left;
      padding: 0 10px 0 0;
    }

    li:nth-child(odd) {
      clear: left;
    }

    li:nth-child(even) {
      float: right;
      clear: right;
      padding: 0 0 0 10px;
    }
  }
  .block-menu-block ul.menu.two-column {
    float: left;
    padding-right: 2%;
    width: 50%;
    word-wrap: break-word;

    &:nth-child(2n+1) {
      padding-left: 2%;
      padding-right: 0;
    }

    li {
      width: 100%;
      float: none;
    }

    li:nth-child(even) {
      padding: 0;             // Reset fallback padding
    }
  }
}

//-----------------------------------------------------------------------------
// Module: Block menu
//-----------------------------------------------------------------------------
.user-menu {
  margin: 0 15px;

  line-height: 40px;
  text-align: right;

  h2 {
    display: inline-block;
    margin: 0;
    font-family: $font-family-default;
    font-size: $font-size-regular;
    font-weight: normal;
  }
  .content {
    font-family: $font-family-default;
    font-size: $font-size-regular;
    display: inline-block;
  }
  .menu {
    display: inline-block;
    margin: 0;
    color: #FFF;

    li {
      @extend %no-margin-padding;

      list-style: none;

      a {
        color: #FFF;

        &:hover {
          color: $link-color-hover;
        }
      }
    }
  }
  @include respond-to($bp-small) {
    margin: 0 20px;
  }
  @include respond-to($bp-medium) {
    margin: 0 60px;
  }
}
