// ___  ___          _       _
// |  \/  |         | |     | |
// | .  . | ___   __| |_   _| | ___  ___
// | |\/| |/ _ \ / _` | | | | |/ _ \/ __|
// | |  | | (_) | (_| | |_| | |  __/\__ \
// \_|  |_/\___/ \__,_|\__,_|_|\___||___/
//

//-----------------------------------------------------------------------------
// Module: Logo
//-----------------------------------------------------------------------------
.logo {
  float: left;
  display: block;
  width: auto;
  overflow: hidden;
  max-width: 75%;
  margin-top: 10px;

  @include respond-to($bp-medium) {
    max-width: 50%;
    margin-top: 5px;
  }
  h1 {
    margin: 0;
    display:inline-block;
    line-height: normal;
    font-size:0px;
    padding:0;
  }
  a {
    display:inline-block;
    line-height: normal;
    padding:0;
    width: 100%;
  }
  img {
    max-height: 46px;
    max-width: none;
    width: auto;
    border: none;


    @include respond-to($bp-medium) {
      max-height: none;
    }
  }
}

//-----------------------------------------------------------------------------
// Module: Image
//-----------------------------------------------------------------------------

img {
  border: none;
}

//-----------------------------------------------------------------------------
// Module: System block.
//-----------------------------------------------------------------------------
.block-system {
  max-width: 100%;
}

//-----------------------------------------------------------------------------
// Module: Fields.
//-----------------------------------------------------------------------------
.field {
  margin-bottom: 1.1em;

  &.field-type-file {
    .field-item {
      margin-bottom: 1em;
    }
  }
  .embed .field {
    margin-bottom: 0;
  }
  .group-buttons & .btn-small {
    font-weight: 600;
    margin: 2.667em 0;
  }

  .group-buttons &:first-child .btn-small {
    @extend .btn;

    font-weight: normal;
  }
}

//-----------------------------------------------------------------------------
// Module: text [!] block
//-----------------------------------------------------------------------------
.attention {
  position: relative;
  padding-left: 34px;
  margin: 0 0 1.25em 0;

  &:after {
    position: absolute;
    display: block;
    content: '!';
    left: 0;
    top: 0.2em;
    height: 1.112em;
    width: 1.112em;

    background-color: $black;
    color: white;
    text-align: center;
    font-size: $font-size-medium;
    line-height: 1.1;
    @include border-radius(5px);
  }

  // Larger box.
  &.big {
    padding-left: 58px;
    font-weight: 600;
    display: inline-block;

    &:after {
      top: 0.09em;
      height: 1.05em;
      width: 1.05em;

      font-size: 38px;
      line-height: 1.1;
    }
    @include respond-to($bp-desktop) {
      line-height: 1.6em;
    }
  }
}

//-----------------------------------------------------------------------------
// Module: text [!] block
//-----------------------------------------------------------------------------
.field-name-field-introduction {
  font-size: $font-size-medium;

  @include respond-to($bp-medium) {
    font-size: $font-size-large;
  }
  @include respond-to($bp-large) {
    font-size: $font-size-xlarge;
  }
}

//-----------------------------------------------------------------------------
// Module: Default node
//-----------------------------------------------------------------------------
.node,
.file  {
  // Node content div.
  > .content {
    position: relative;

    .field-name-field-publication-date {
      display: block;
      margin: 4px 0;

      .form-item {
        margin-bottom: 0;
      }
      .field-label,
      .field-items {
        font-weight: 400;
        display: inline-block;
      }
      .date-display-single {
        text-transform: lowercase;
      }
    }
  }
  &.node-news-full {
    > .content {
      .field-name-field-publication-date {
        margin: -15px 0 20px;
      }
    }
  }
}

//-----------------------------------------------------------------------------
// Module: File field
//-----------------------------------------------------------------------------
.link-file {
  @extend %link-file;
}

//-----------------------------------------------------------------------------
// Module: Field call-out / Field Referral site
//-----------------------------------------------------------------------------
.field-name-field-callus,
.field-name-field-referral-site {
  @extend .quote;

  margin-bottom: 2em;
  padding-left: 0.95em;
  line-height: 1.4em;

  p {
    display: block;
    font-size: $font-size-xlarge;
    font-weight: 600;
    margin-bottom: 6px;
    line-height: 1.15em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

//-----------------------------------------------------------------------------
// Module: Task -> Related pages section
//-----------------------------------------------------------------------------
.related-pages-section {
  @extend .quote;
  font-weight: normal;

  padding-left: 15px;
  max-width: 830px;

  @include respond-to($bp-small) {
    margin-top: 60px;
  }

  @include respond-to($bp-large) {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 325px;
    width: 33%;
    margin: 0 0 10px 0;
  }

  h2, h3 {
    margin: 0 0 .4em 0;
  }

  .field-name-field-related-pages,
  .field-name-field-related-guides {
    ul {
      @extend %no-margin-padding;

      li {
        @extend %no-margin-padding;

        background: none;
        list-style: none;

        a {
          padding-left: .8em;
          position: relative;
          display: block;
          font-family: $font-family-default;
          text-decoration: none;
          line-height: 1.7em;

          &:before {
            position: absolute;
            background: transparent url(../images/sprite/sprite_dvg.png) no-repeat 0px -63px; // IE8 FALLBACK
            background: transparent url(../images/sprite/sprite_dvg.svg) no-repeat 0px -63px;
            content: '';
            height: 14px;
            width: 10px;
            left: 0;
            top: 8px;
          }
          &:hover {
            text-decoration: underline;

            &:before {
              background: transparent url(../images/sprite/sprite_dvg.svg) no-repeat 0px -88px; // IE8 FALLBACK
              background: transparent url(../images/sprite/sprite_dvg.png) no-repeat 0px -88px;
            }
          }
        }
      }
    }
  }
}

//-----------------------------------------------------------------------------
// Module: Task -> Main section
//-----------------------------------------------------------------------------
.main-section {
  margin-bottom: 2.667em;
  max-width: 830px;

  &.related-pages-enabled {
    @include respond-to($bp-large) {
      position: relative;
      max-width: 630px;
      width: 66%;
      padding-right: 1em;
    }
  }
}

//-----------------------------------------------------------------------------
// Module: Task sections
//-----------------------------------------------------------------------------

// Menu
.section-list {

  max-width: 830px;

  ul {
    list-style: none;

    @extend %clearfix;

    li {
      @extend %no-margin-padding;

      border-top: 1px solid $border-color;

      &.last {
        border-bottom: 1px solid $border-color;
      }
      a {
        position: relative;
        display: block;
        padding: 0.75em;
        line-height: 1.3;
        padding-left: 2.5em;
        font-weight: 700;
        text-decoration: none;
        color: $link-color;

        &:before {
          background: $link-color url(../images/sprite/arrow-down-white.png) no-repeat;
          color: #FFFFFF;
          content: "";
          display: block;
          font-size: 20px;
          height: 1em;
          left: 0.45em;
          position: absolute;
          text-align: center;
          top: 0.59em;
          width: 1em;
        }
        // HOVER STATE
        &:hover {
          color: $link-color-hover;

          &:before {
            background: $link-color-hover url(../images/sprite/arrow-down-white.png) no-repeat;
            color: white;
          }
        }
        // ACTIVE STATE
        &:active {
          color: white;
          background-color: $link-color;

          &:before {
            background: white url(../images/sprite/sprite_dvg.svg) no-repeat 2px -111px;
          }
        }
      }
    }
  }
}

// Sections
.field-name-field-sections {

  max-width: 830px;
  margin-bottom: 1.1em;

  .task-section {
    display: block;
    padding-top: 2em;
  }
}

// Only is JS is active
@include respond-to($bp-medium) {

  // Tabs
  .section-list.js {
    position: relative;
    z-index: 5;
    height: 58px;

    display: block;

    margin: 0;
    padding: 0;

    ul {
      margin: 0;
      display: inline-block;

      border-top: 1px solid $border-color;
      border-radius: 5px 5px 0 0;

      li {
        margin: 0;
        padding: 0;

        margin-top: -1px;
        display: inline;
        float: left;

        height: 52px;
        z-index: 1;
        position: relative;
        border: 1px solid $border-color;
        border-left-color: transparent;
        border-right-color: $border-color;

        margin-left: -2px;
        z-index: 1;

        &.first {
          border-left: 1px solid;
          margin-left:0px;
          border-radius: 5px 0 0 0;
        }
        &.last {
          border-radius: 0 5px 0 0;
          border-right: 1px solid;
        }
        a {
          padding: 0.75em 1.7em;

          border-radius: 5px 5px 0 0;
          color: $link-color;
          text-decoration: underline;

          &:hover {
            color: $link-color-hover;
          }
          &:active {
            color: white;
            background: none;
          }
          &:before {
            background: none;
          }
        }
        &:active {
          border-radius: 5px 5px 0 0;
          background-color: $link-color;
          z-index: 100;
          border-left: 1px solid
        }
        // Active tab
        &.active {
          border-radius: 5px 5px 0 0;
          background: white;
          padding-bottom: 1px;
          border-bottom-style: hidden;
          border-left: 1px solid;
          border-right: 1px solid;
          z-index: 10;

          a {
            color: $black;
            text-decoration: none;
          }
        }
      }
    }
  }

  // Sections
  .field-name-field-sections.js {
    position: relative;
    min-height: 100%;
    z-index: 0;
    top: -7px;

    .task-section {

      border: 1px solid $black;
      padding: 15px 30px 0px 30px;

      border-radius: 0 5px 5px 5px;

      h2 {
        display: none;
      }
      h3, h4 {
        padding-top: 0;
        margin-top: 0;
      }
      h3 {
        font-size: 1.375em;
      }
      h4 {
        font-size: 1.125em;
      }
      li {
        margin-left: 0.9em;
        padding-left: 0.30em;
        padding-right: 30px;
      }
    }
  }
}

//-----------------------------------------------------------------------------
// Module: Guide
//-----------------------------------------------------------------------------
.node-guide > .content ol.guide-menu {
  max-width: 830px;
  padding-bottom: 1em;

  border-bottom: 1px solid $black;
  font-weight: 600;

  li {
    padding-left: 0;
    margin-bottom: 0.35em;

    a.active {
      text-decoration: none;
      color: $black;
    }
  }
}

.node-guide > .content ul.guide-nav {
  margin: 0;
  max-width: 830px;
  padding: 0.7em 0;
  border-top: 1px solid $black;

  li {
    list-style: none;

    display: inline-block;
    float: left;
    width: 50%;

    padding: 0.2em 0;
    padding-left: 0;
    margin: 0;

    &.next {
      float: right;
      text-align: right;

      &:after {
        content: "";
        display: inline-block;
        position: relative;
        top: 0.2em;
        width: 9px;
        height: 14px;

        background: sprite($sprite, icon-li-arrow-grey-light) no-repeat;
      }
    }
    &.prev {
      position: relative;
      width: 49%;

      &:before {
        content: "";
        display: inline-block;
        position: relative;
        top: 0.2em;
        width: 9px;
        height: 14px;
        margin-left: 10px;

        background: sprite($sprite, icon-li-arrow-grey-light) no-repeat;
      }
    }

    a {
      padding: 0 0.2em;
      text-transform: lowercase;
      font-weight: 600;
    }
  }
}

//-----------------------------------------------------------------------------
// Module: Defaul list overview
//-----------------------------------------------------------------------------

.list-overview {
  .view-content {
    margin: 0 0 40px 0;
    padding: 0 5px;

    .views-row {
      margin-bottom: 28px;

      &.views-row-last {
        margin-bottom: 0;
      }
    }
    h2 {
      margin-bottom: 0;
    }
  }
}



//-----------------------------------------------------------------------------
// Module: Spatial plan
//-----------------------------------------------------------------------------

.o-spatial-plan {
  .view-filters {
    max-width: 460px;
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-bottom: 3px solid $black;
  }
  .views-exposed-form {
    padding: 0 5px;

    label {
      font-weight: 300;
    }
    input[type=submit]{
      float: right;
      min-height: 32px;
      width: 103px;
      padding: 0;
      background: $black;
      text-align: center;
      font-size: $font-size-regular;

      &:hover {
        margin: 2px 0 0 2px;
        box-shadow: none;
      }
    }
  }
  .view-content {
    .inspection {
      @extend %clearfix;

      margin: 7px 0 3px;
      background: $black;
      width: auto;
      display: inline-block;
      padding: 4px 14px;
      color: white;
      text-decoration: none;
    }
  }
  select {
    width: 100%;
  }
}

@include respond-to($bp-medium)  {
  .o-spatial-plan {
    .view-filters {
      max-width: none;
    }
    .views-exposed-form {
      .views-exposed-widget {
        float: left;
      }
      input[type=submit]{
        float: none;
        margin-top: 24px;
        font-size: $font-size-medium;

        &:hover {
          margin-top: 26px;
        }
      }
      .views-widget-filter-title {
        margin-right: 10px;

        .form-item {
          width: 300px;
        }
      }
      .views-widget-filter-term_node_tid_depth {
        margin-right: 10px;
      }
      select {
        width: 200px;
        height: 32px;
      }
    }
  }
}

//-----------------------------------------------------------------------------
// Module: menu blocks
//-----------------------------------------------------------------------------
.menu-content-block .node {
  h2 {
    font-size: 1.9em;
    font-weight: 400;
    letter-spacing: 0.01em;
    margin: 1em 0 0 0;
    padding-bottom: 0;

    @include respond-to($bp-medium) {
      margin: 0.7em 0 0 20px;
      font-size: 2.6em;
    }
  }
  .content {
    padding-top: 2em;

    @include respond-to($bp-medium) {
      padding-top: 1.1em;
    }
  }
}

//-----------------------------------------------------------------------------
// Module: DigiD
//-----------------------------------------------------------------------------
.digid {
  @extend %clearfix;
  margin-bottom: -12px;

  .btn {
    display:block;
    float: left;
    margin: 0 12px 16px 0px!important;
  }
  .digid-logo {
    display: block;
    float: left;
    width: 54px;
    height: 54px;
  }
}


//-----------------------------------------------------------------------------
// Module: Profile Group View
//-----------------------------------------------------------------------------

.o-town-council {
  .view-content {
    padding: 0;
    max-width: 830px;
  }
}

//-----------------------------------------------------------------------------
// Module: Profile Group
//-----------------------------------------------------------------------------

.node-profile-group {
  max-width: 830px;

  .field-name-field-profile-group-profiles {
    margin-top: 50px;
  }
  .field-item {
    margin-bottom: 15px;
  }

  @include respond-to($bp-small) {
    .field-name-field-profile-group-profiles {
      .field-item {
        float: left;
        width: 48%;
        margin-bottom: 30px;

        &.even {
          margin-right: 4%;
        }
      }
    }
  }
}


//-----------------------------------------------------------------------------
// Module: Profile
//-----------------------------------------------------------------------------

.node-profile {

  @include respond-to($bp-small) {

    .field-name-field-image {
      float: left;
      width: 48%;

      margin-bottom: 30px;
    }
    .field-name-field-profile-contact-text  {
      float: left;
      width: 50%;
      padding-left: 30px;
    }
    .field-name-body {
      clear: both;
    }
  }
  &.node-teaser {
    .field-item  {
      width: 100%;
      float: none;
      margin-bottom: 0;
    }
    .field-name-field-image {
      float: none;
      width: 100%;
      max-width: none;
      margin-bottom: 1%;
    }
    h2 {
      font-size: $font-size-medium;
    }
  }
}

//-----------------------------------------------------------------------------
// Module: Node Block
//-----------------------------------------------------------------------------
.front .node-block-full {
  @extend %clearfix;

  margin-bottom: 60px;
  padding: 23px 19px;

  border-style: solid;
  border-width: 10px 0 0 0;
  border-color: $sub-color; // IE FALLBACK
  @include border-image(url(../images/border-orange.png), 10 0 0 0, round repeat);

  background: $sub-color-light;

  h2 {
    padding: 0;
    margin-bottom: 0.6em;
    font-size: 1.9em;
    line-height: 1em;
  }
  p {
    margin-bottom: 1.7em;
  }
  table {
    tr {
      background-color: transparent;
    }
    td {
      padding: 0;
      margin: 0;
    }
  }

  @include respond-to($bp-medium)  {
    padding: 44px 40px 30px 40px;

    border-style: solid;
    border-width: 14px 0 0 0;
    @include border-image(url(../images/border-orange.png), 14 0 0 0, round repeat);

    h2 {
      font-size: 2.6em;
      margin: 0 0 0.55em 0;
      letter-spacing: 0.5px;
    }
    p {
      line-height: 1.6em;
      margin-bottom: 2em;
    }
    .field-name-field-block-body {
      background: red;

      .field-item {
        float: left;
        width: 48%;

        &.odd {
          margin-left: 2%;
          float: right;
        }
      }
    }
  }
}


//-----------------------------------------------------------------------------
// Module: Topical Block
//-----------------------------------------------------------------------------

.topical-block {
  @extend %clearfix;

  word-wrap: break-word;

  border-style: solid;
  border-width: 10px 0 0 0;
  border-color: $sub-color; // IE FALLBACK
  @include border-image(url(../images/border-orange.png), 10 0 0 0, round repeat);

  h2 {
    margin: 0.9em 0 0 0;
    font-size: 1.9em;
    font-weight: 400;
    letter-spacing: 0.01em;

    a {
      text-decoration: none;
    }
  }
  .view-content {
    ul {
      margin: 0;
      line-height:1.6em;
      float: none;

      li {
        list-style: none;
        padding: 1.25em 0 0 0;
        margin: 1.3em 0 1.2em 0;

        float: none;
        width: 100%;

        &.views-row-first {
          margin-top: 0;
          padding-top: 0;
        }
        .topical-title {
          display: block;
          margin: 0.6em 0 0 0;

          font-size: 23px;
          font-weight: 400;
          line-height: 1.4em;
          text-decoration: none;
        }
        .field {
          margin-bottom: 0.6em;

          &.field-name-field-highlight-image {
            margin: 0.6em 0 0.3em;
          }
        }
        .field-name-field-highlight-more-label {
          margin-top: 1.5em;
          position: relative;
          padding-left: 15px;

          &:after {
            content:'';
            display: block;
            width: 10px;
            height: 12px;
            background: sprite($sprite, icon-li-arrow-grey-light) no-repeat;
            position: absolute;
            left: 0px;
            top: 6px;
          }
          &:hover {
            &:after {
              background: sprite($sprite, icon-li-arrow-grey-dark) no-repeat;
            }
          }
        }
      }
      li + li {
        border-top: 1px solid;
      }
    }
  }
  .attachment-after {
    clear: both;
    padding: 30px 0;
    border-top: 1px solid;
    text-align: center;
  }
  @include respond-to($bp-medium)  {
    padding: 0 20px;

    border-style: solid;
    border-width: 14px 0 0 0;
    @include border-image(url(../images/border-orange.png), 14 0 0 0, round repeat);

    .view-content {
      ul {
        float: left;
        width: 50%;
        padding-right: 2%;

        li {
          float: left;
          margin: 0;

          .field {
            margin-bottom: 1.1em;

            &.field-name-field-highlight-image {
              margin: 0.6em 0 1em;
            }
            &.field-name-field-highlight-more-label {
              margin-top: 1.1em;
            }
          }
        }
        &:nth-child(2n+1) {
          padding-left: 2%;
          padding-right: 0;
        }
      }
      .two-column {
        li {
          padding-top: 0;
          margin-top: 0;
        }
        li + li {
          margin-top: 0.6em;
          padding: 1.25em 0 0 0;
          margin-bottom: 1.4em;
        }
      }
         }
      h2 {
        font-size: 2.6em;
        margin: 0.7em 0 0 0;
      }

      .attachment-after {
        padding: 45px 0;

        font-size: 1.35em;
      }
    }
  }



//-----------------------------------------------------------------------------
// Module: Footer Bottom Lines
//-----------------------------------------------------------------------------

.footer-line {
  @extend %clearfix;
  clear: left;
  display: block;
  margin-bottom: 1.7em;

  @include respond-to($bp-small)  {
    margin-bottom: 1em;

    p {
      display: inline-block;
      float: left;
      margin-bottom: 0;
    }
    p + p {
      margin-left: 0.3em;
    }
    p + p + p {
      margin-left: 0em;

      &:before {
        content:",";
        padding-right: 5px;
      }
    }
  }
}



//-----------------------------------------------------------------------------
// Module: File Overview
//-----------------------------------------------------------------------------

.o-file {
  .view-content {
    margin-top: 10px;
    padding: 0;

    .views-row {
      margin-bottom: 38px;
      position: relative;

      .content {
        padding-left: 60px;

        .link-file {
          display: inline;
          line-height: 1;

          .file {
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }
  }
  @include respond-to($bp-small)  {
    .link-file {
      font-size: $font-size-large;
    }
  }
}


//-----------------------------------------------------------------------------
// Module: Node Images
//-----------------------------------------------------------------------------
.media-element-container {
  margin: 0 0 1em;
  max-width: 830px;

  background: #F7F9FA;

  color: lighten($black, 5%);

  img {
    margin-bottom: 0.3em;
  }
  a {
    color: $black;
  }
  .field {
    display: inline-block;
    padding: 0 1em;

    font-size: $font-size-small;

    .field-label {
      margin-right: 0.2em;
    }
    div {
      display: inline-block;
      margin: 0;
    }
  }
  @include respond-to($bp-small) {
    img {
      margin-bottom: 0em;
    }
  }
}


//-----------------------------------------------------------------------------
// Module: Search Results
//-----------------------------------------------------------------------------

.context-search h1 span {
  font-weight: 700;
}
.o-search {
  .view-content {
    padding: 0;
  }
  .field {
    margin-bottom: 0;
  }
}


//-----------------------------------------------------------------------------
// Module: Search Block
//-----------------------------------------------------------------------------
.search-block {
  display: inline-block;
  overflow: hidden;
  padding-top: 6px;
  width: auto;

  .views-exposed-form {
    width: 100%;

    .views-exposed-widget {
      float: left;

      label {
        display: none;
      }
      .form-text {
        width: auto;
        height: auto;
        margin-top: 0;
        padding: 0;
        overflow: hidden;
      }
    }
    .views-submit-button {
      input[type="submit"] {
        background-image: none;
        padding: 5px 10px;
        min-height: 32px;
        font-size: $font-size-regular;
        margin-bottom: 0;

        .lt-ie9 & {
          padding: 0px 15px;
        }
      }
    }
    .form-item-search {
      margin-right: 5px;
    }
  }
  &.expanded {
    position: relative;
    right: 0px;
    top: 0;
    clear: both;
    float: none;

    margin-bottom: 10px;

    .form-item-search {
      display: block;
      margin-bottom: 0;
    }
    .views-widget {
      width: 100%;
      display: inline-block;
    }
    .views-exposed-form {
      .views-submit-button {
        float: left;
      }
      .views-exposed-widget {
        width: 87%;

        .form-text {
          opacity: 1;
        }
        &.views-submit-button {
          width: 30px;
          margin-bottom: 0;
        }
      }
    }
    .form-item-search {
      width: 98%;
      margin-right: 5px;
    }
  }

  @include respond-to($bp-search) {

    .views-widget {
      display: inline-block;
    }
    .views-exposed-form {
      .views-exposed-widget {
        &.views-submit-button {
          width: auto;

          input[type="submit"] {
            text-indent: 0;
            width: auto;
          }
        }
      }
    }
    &.expanded {
      .views-exposed-form {
        .views-exposed-widget {
          width: 79%;
        }
      }
    }
  }

  @include respond-to($bp-medium) {
    position: relative;
    right: 0;
    width: 48%;
    float: right;
    top: 20px;

    .views-exposed-form {
      .views-exposed-widget {
        width: 62%;

        .form-text {
          opacity: 1;
        }
        &.views-submit-button {
          width: auto;

          input[type="submit"] {
            background-image: none;
            text-indent: 0;
            width: auto;
            text-align: center;
            margin-left: 10px;
          }
        }
      }
      .form-item-search {
        display: block;
        width: 100%;
      }
    }
    &.expanded {
      clear: none;
      float: right;
      top: 15px;

      .views-exposed-form {
        .views-exposed-widget {
          width: 62%;
        }
      }
    }
  }

  @include respond-to($bp-large) {
    .views-exposed-form {
      .views-exposed-widget {
        width: 75%;

        .views-widget {
          width: 100%;
        }
      }
    }
  }
}


//-----------------------------------------------------------------------------
// Module: Search Block
//-----------------------------------------------------------------------------

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMyMzIzMjMiIHN0b3Atb3BhY2l0eT0iMC41MSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjMyMzIzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(35,35,35,0.51) 0%, rgba(35,35,35,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(35,35,35,0.51)), color-stop(100%,rgba(35,35,35,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(35,35,35,0.51) 0%,rgba(35,35,35,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(35,35,35,0.51) 0%,rgba(35,35,35,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(35,35,35,0.51) 0%,rgba(35,35,35,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(35,35,35,0.51) 0%,rgba(35,35,35,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82232323', endColorstr='#232323',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

  width: 100%;
  height: 100%;
  z-index: 10000;
}

.popup-content {
  display: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px;
  background: white;

  z-index: 10001;
  position: fixed;
  top: 0%;
  left: 0%;

  height: 100%;
  width: 100%;
  overflow: scroll;

  @include respond-to($bp-medium) {
    overflow: visible;
    top: 12.5%;
    left: 20%;
    height: auto;
    width: 60%;

    @include border-radius(5px);
  }
  h2 {
    width: 90%;
  }
  .close-x {
    position: absolute;
    top: 15px;
    right: 15px;
    color: red;
    background: none;
    border: none;
    font-size: 25px;

    &:hover {
      cursor: pointer;
    }
  }
  .close-button {
    @extend %button-submit;

    background-color: #9DD11A!important;

    &:hover {
      background-color: #82AE13!important;
    }
  }
}


//-----------------------------------------------------------------------------
// Module: User Login
//-----------------------------------------------------------------------------

.page-user {
  input[type=password] {
    @extend %input;

    width: 100%;
    max-width: 460px;
  }
}

//-----------------------------------------------------------------------------
// Module: Data B
//-----------------------------------------------------------------------------

.block-dvg-datab {
  ul li {
    list-style: none;

    margin-left: 0;
    padding: 0;

    ul {
      padding: 0;
      margin-left: 0;

      li {
        margin-bottom: 38px;
      }
    }
  }
}
