//  _____           _
// /  ___|         | |
// \ `--. _   _ ___| |_ ___ _ __ ___
//  `--. \ | | / __| __/ _ \ '_ ` _ \
// /\__/ / |_| \__ \ ||  __/ | | | | |
// \____/ \__, |___/\__\___|_| |_| |_|
//         __/ |
//        |___/
//


//-----------------------------------------------------------------------------
// Module: messages
//-----------------------------------------------------------------------------
.messages {
  word-wrap: break-word;

  li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .inline-info {
    font-family: $font-family-default;
    color: $text-color;
  }
  &.status {
    color: #468847;
  }
  &.warning {
    color: #C09853;
  }
  &.error {
    color: $error;
    position: relative;

    padding-left: 30px;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      height: 20px;
      width: 20px;
      background: sprite($sprite, icon-error) no-repeat ;
    }
    &.messages-inline {
      position: relative;
      padding: 9px 7px 6px 44px;
      max-width: 460px;
      min-height: 38px;
      margin-bottom: 15px;

      @include border-radius(5px);
      color: white;
      background: $red url(../images/icon-inline-error.png) no-repeat 13px 10px;

      &:before {
        content: "";
        position: absolute;
        top: -14px;
        left: 33px;
        width: 0px;
        height: 0px;

        border-style: solid inset;
        border-width: 0 14px 16px 14px;
        border-color: transparent transparent $red;
        background-image: none;
      }
      .lt-ie9 & {
        min-height: 28px;
      }
    }
  }
}

body.front .messages {
  margin: 0 20px;
}

//-----------------------------------------------------------------------------
// Module: Breadcrumbs
//-----------------------------------------------------------------------------
.breadcrumb {
  font-size: $font-size-small;
  color: white;

  height: auto;

  a {
    display: inline-block;
    line-height: 3.0em;

    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @include respond-to($bp-medium) {
    font-size: $font-size-medium;

    position: absolute;
    bottom: 0;
  }

  .breadcrumb-symbol {
    position: relative;
    top: 2px;
    display: inline-block;
    text-indent: -999px;
    overflow: hidden;
    width: 10px;
    height: 14px;
    background: sprite($sprite, icon-li-arrow) no-repeat;
    margin: 0 0.3em;
  }
}

//-----------------------------------------------------------------------------
// Module: Tabs
//-----------------------------------------------------------------------------
div.tabs {
  @extend %clearfix;
  margin: 0 0 20px 0;

  // Set size by relative font-size.
  font-size: 12px;

  @include respond-to($bp-medium) {
    font-size: $font-size-medium;
  }
}

ul.tabs {
  @extend %clearfix;
  @extend %no-margin-padding;

  display: block;
  max-width: 100%; // 830px / 18

  // Use box shadow instead of border so the height of the box is flexible.
  @include box-shadow(inset 0px -1px 0px 0px $main-color);

  li {
    margin: 0;
    padding: 0;

    list-style: none;

    a {
      display: block;
      width: 100%;
      padding: 0.65em 1em;

      text-decoration: none;
      border-color: $main-color;
      border-style: solid;
      border-width: 1px 1px 0 1px;

      &:hover,
      &:focus {
        background: $main-color;
        color: white;
      }
      &:active {
        background: $sub-color;
      }
    }
    // Active Tab.
    &.active {
      background: white;

      a {
        color: $sub-color;

        &:hover {
          background: white;
        }
      }
    }
    // Last Tab.
    &:last-child {
      a {
        border-bottom-width: 1px;
      }
    }

    @include respond-to($bp-medium) {
      display: block;
      float: left;
      margin: 0;
      padding: 0;

      a {
        float: left;
        margin: 0;

        border-width: 1px 0 1px 1px;
        border-bottom-style: initial;
      }
      // Active Tab.
      &.active {
        a {
          color: $main-color;
          border-bottom-color: #FFF;

          background: url(../images/icon-active-tab.png);
          background-repeat: no-repeat;
          background-position: center 2.2em;

          &:hover,
          &:focus {
            background: url(../images/icon-active-tab.png);
            background-repeat: no-repeat;
            background-position: center 2.2em;
            color: $main-color;
          }
        }
      }
      // Last Tab.
      &:last-child {
        a {
          border-right-width: 1px;
          border-bottom-style: initial;
        }
      }
    }
  }
}



//-----------------------------------------------------------------------------
// Module: Pager
//-----------------------------------------------------------------------------

.pagernav {
  padding-top: 40px;

  border-top: 1px solid $black;
  text-align: center;
  min-height: 40px;

  .item-list {
    display: inline-block;
  }
  .pager {
    display: block;
    margin: 0;

  li {
    display: block;
    float: left;

    margin: 0 6px 2px 0;
    padding: 0;
    font-size: $font-size-small;

    @include border-radius(5px);

    &.pager-item {
      display: none;
    }
    a {
      border: 1px solid;
      height: 30px;
      width: 30px;
      line-height: 30px;
      display: block;
      text-decoration: none;
      @include border-radius(5px);
    }
    &.pager-ellipsis {
      display: none;
      margin-top: 6px;
    }
    &.pager-first,
    &.pager-last {
      display: none;
      margin-top: 2px;

      &:hover {
        margin: 2px 6px 2px 0;
      }
    }
    &.first,
    &.pager-previous,
    &.pager-next,
    &.last {
      a {
        padding: 0 10px;
        width: auto;
      }
    }
    &.first,
    &.last {
      box-shadow: none;

      a {
        border: 0;
        text-decoration: underline;

        &:hover {
          color: $black;
        }
      }
    }
    &.pager-previous,
    &.pager-next {
      a {
        background: $black;
        color: white;
        border-color: $black;
      }
    }
    &.pager-current {
      width: 30px;
      height: 30px;
      line-height:30px;
      border: 1px solid;
      color: #FFF;
      background: $main-color;
      border-color: $main-color;

      &:hover {
        margin: 0 6px 0 0;
      }
    }
  }
  }
}

//----------------------------------------------------------
// Media Query
@include respond-to($bp-small)  {
  .pagernav {
    .pager {
      li {
        &.pager-item {
          display: inline-block;
        }
        &.pager-ellipsis {
          display: inline-block;
        }
      }
    }
  }
}
@include respond-to($bp-medium)  {
  .pagernav {
    .pager {
      li {
        font-size: $font-size-medium;

        &.pager-ellipsis {
          margin-top: 2px;
        }
      }
    }
  }
}
@include respond-to($bp-large)  {
  .pagernav {
    .pager {
      li {
        &.pager-first,
        &.pager-last {
          display: inline-block;
        }
      }
    }
  }
}
