/* Mixin for Compass - border-image
$border-image([$image-url], [$offsets], [$repeats])
Example:
@include border-image(url(../my_image.png), 10, stretch)
@include border-image(url(../my_image.png), 10 5 10 5, stretch repeat)

---------------------------------------- */
body {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  color: #000000;
}

.link-file .file {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  color: white;
  background-color: #000000;
}
.link-file:hover .file {
  color: white;
  background-color: #F8A403;
}

.attention {
  position: relative;
  padding-left: 34px;
  margin: 0 0 1.25em 0;
}
.attention:after {
  position: absolute;
  display: block;
  content: '!';
  left: 0;
  top: 0.2em;
  height: 1.112em;
  width: 1.112em;
  background-color: #000000;
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 1.1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.attention.big {
  padding-left: 58px;
  font-weight: 600;
}
.attention.big:after {
  top: 0.09em;
  height: 1.05em;
  width: 1.05em;
  font-size: 38px;
  line-height: 1.1;
}
@media screen and (min-width: 56.8889em) {
  .attention.big {
    line-height: 1.6em;
  }
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

h1, h2, h3, h4 {
  margin: 0 0 30px 0;
}

h1 {
  margin: 0 0 0.5em 0;
  line-height: 1.2em;
  font-size: 1.875em;
  font-weight: 700;
}

h2 {
  font-size: 1.375em;
}

h3 {
  font-weight: normal;
  margin: 0 0 0.6em 0;
  font-size: 1.125em;
}

h4 {
  font-weight: normal;
  font-size: 1em;
}

@media screen and (min-width: 38.8889em) {
  h1 {
    font-size: 2.444em;
  }

  h2 {
    font-size: 1.333em;
  }

  h3 {
    font-size: 1.222em;
  }

  h4 {
    font-size: 1em;
  }
}
a {
  color: #456479;
}
a:hover, a:focus {
  color: #F8A403;
}

p {
  margin: 0 0 30px 0;
}

img, object, video {
  max-width: 100%;
  height: auto;
}

ul, ol {
  list-style-position: outside;
  padding: 0;
  margin: 0 0 30px 0;
}

li ul,
li ol {
  margin: 0 1.625em;
}

ul li,
ol li {
  margin-bottom: 1em;
}

ul {
  list-style-type: square;
}
ul li {
  margin-left: 1.4em;
  padding-left: .3em;
}

ol {
  list-style-type: decimal;
}
ol li {
  margin-left: 2em;
  padding-left: .3em;
}

dl dd {
  margin-left: 1.625em;
}

hr {
  margin: 30px 0;
  height: 1px;
  border: none;
  background-color: black;
}

.quote {
  max-width: 35em;
  margin: 0 0 1.25em 0;
  padding-left: 1em;
  border-left: 1px solid;
}
@media screen and (min-width: 53.3334em) {
  .quote {
    font-size: 18px;
  }
}

table {
  border: 1px dotted;
  border-collapse: collapse;
  margin-bottom: 30px;
  width: 100%;
}
table th {
  font-size: 22px;
  text-align: left;
  font-weight: normal;
}
table th,
table tr,
table td {
  border: 1px dotted;
  padding: 9px 5px;
  vertical-align: text-top;
}
table tbody tr:nth-child(even) {
  background-color: white;
}
table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}
table p {
  margin-bottom: 0;
}

.content table, .content th, .content tr, .content td {
  border: 0;
}

.link-file {
  display: inline-block;
  margin-right: 1em;
  vertical-align: top;
  font-weight: 700;
}
.link-file .file {
  float: left;
  min-width: 3.4em;
  margin-right: 1.1em;
  padding: 1.3em 0.3em 1.1em 0.3em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-weight: 600;
  color: white;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  vertical-align: bottom;
  font-size: 14px;
  background-color: #000000;
}
.link-file:hover .file {
  background-color: #F8A403;
}
